#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
    chosen {
        zephyr,display = &dummy_dc;
    };

    dummy_dc: dummy_dc {
        compatible = "zephyr,dummy-dc";
        status = "okay";
        width = <80>;
        height = <24>;
    };
};